<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Somebody used your fly-ass contact form!</p>

    <p>Dearest sir,</p>

    <div><%= @message.message %></div>

    <p>Sincerely,<br/>
    <%= @message.name %><br/>
    <%= @message.email %></p>
  </body>
</html>