// Place all the styles related to the mail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mailer {
  .field {
    margin: 1em 0;
    input {
      width: 15em;
    }
  }
  textarea {
    width: 30em;
    height: 10em;
  }
}