// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.date {
  font-style: italic;
  color: #888;
}

.post {
  &.all {
    padding: 0.5em 0;
  }
  .date {
    display: inline-block;
  }
  &.even {
    background: #eee;
  }
}

.edit_post {
  width: 65%;
  margin: 0 auto;
  textarea {
    width: 95%;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: .5em;
  }  
  .field {
    margin: 1em 0;
  }
  label {
    display: block;
  }
  input.submit {
    padding: .3em 2em;
    border-radius: 2px;
    border: 1px solid #aaa;
    background: #ddd;
    &:hover {
      background: #ccc;
    }
  }
}