// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.date {
  font-style: italic;
  color: #888;
}

.post {
  &.all {
    padding: 0.5em;
  }
  .date {
    display: inline-block;
  }
  &.even {
    background: #eaeaea;
  }
  .aside {
    float: right;
    font-size: 1.1em;
    padding: 1em;
    font-style: italic;
    color: #888;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    width: 35%;
    margin-left: 1em;
    margin-bottom: .5em;
    @media screen and (max-width: 480px) {
      width: auto;
      float: none;
    }
  }
}

.edit_post,
.new_post {
  width: 65%;
  margin: 0 auto;
  textarea {
    width: 95%;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: .5em;
  }  
  .field {
    margin: 1em 0;
  }
  input.submit {
    padding: .3em 2em;
    border-radius: 2px;
    border: 1px solid #aaa;
    background: #ddd;
    &:hover {
      background: #ccc;
    }
  }
}

#comments {
  h3 {
    border-bottom: 1px solid #bbb;
    font-style: italic;
    margin-bottom: 1em;
  }
  .field {
    margin: 0.5em 0;
    input[type="text"] {
      border: 1px solid #ccc;
      border-radius: 2px;
      width: 20em;
      padding: 0.2em 0.3em;
    }
    textarea {
      width: 75%;
      height: 12em;
      border: 1px solid #ccc;
    }
  }
  .comment {
    padding: 1em;
    &.even {
      background: #eee;
    }
  }
}